<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Employee Management System</h1>
<h2>Employee Detail</h2>
<table border="1">
	<tr>
		<th>Employee ID</th>
		<th>Name</th>
		<th>Designation</th>
		<th>Department</th>
		<th>Email</th>
		<th>Salary</th>
	</tr>
	<tr>
		<td th:text="${employee.empId}"></td>
		<td th:text="${employee.empName}"></td>
		<td th:text="${employee.empDesignation}"></td>
		<td th:text="${employee.empDepartment}"></td>
		<td th:text="${employee.empEmail}"></td>
		<td th:text="${employee.empSalary}"></td>
	</tr>
</table>
<br><br>
<a href="./">Go To Main Page</a>
</body>
</html>